services:
  web:
    build: .
    container_name: flask
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./data:/app/data
    environment:
      - PYTHONUNBUFFERED=1
      - INIT_DB=True
    restart: unless-stopped
    # command: [ "python3", "init_db.py", "&&", "uvicorn", "app:asgi_app", "--host", "0.0.0.0", "--port", "8000" ]

