{% extends "base.html" %}
{% block content %}
{% if success %}
<h2>Activation successful</h2>
<p style="color:green;">Your account has been successfully activated. You can now leave this page</p>
{% elif success is false %}
<h2>Activation error</h2>
<p style="color:red;">{{ message }}</p>
{% elif mfa_success is true %}
<h2>MFA setup successful</h2>
<p style="color:green;">Your multi-factor authentication has been successfully set up.</p>
<p> Here are your backup codes. Store them in a safe place. Each code can be used once to access your account if you lose access to your authenticator app.</p>
<ul>
  {% for code in backup_codes %}
  <li>{{ code }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
